html * {
    margin: 0px;
    padding: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
#start{
    padding: 20px 100px 20px 100px;
}

#game {

    padding: 100px;
}

#game-over {

    padding: 100px;

}
button{
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-variant: small-caps;
    width: 120px;
    text-align: left;
}

h1 {
    padding: 50px 100px 50px 100px;
}


#quiz-questions{
    background-color: grey;
    padding: 50px 100px 50px 100px;
}

#quiz-choices {
    background-color: lightgrey;
    padding: 50px 100px 50px 100px;
}


#timer
 {
    background-color: rgba(255, 0, 0, 0.351);
    font-size: 50px;
    font-weight: 800;
    padding: 50px;
}

#add-score{
    padding: 10px;
}

#score{
    padding: 50px;
    font-size: 100px;
    font-weight: 800;
    background-color:rgba(255, 0, 0, 0.351);
}