*html{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

input {
    font-size: 16px;
}

label {
    font-size: 20px;
}

#timer, 
#score {
    background-color: red;
    padding: 10px;
    text-align: center;
    font-size: 60px;
    font-variant: small-caps;
}


h1{
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
    padding-bottom: 100px;

}

h2{
    font-size: 30px;
    text-align: center;
}

button{
    text-align: center;
    display: block;
}

label {
    padding: 10px;
}

#quiz-questions{
    background-color: lightgrey;
    padding-top:20px;
    padding-bottom: 20px;
}

p {
    padding: 30px;
    font-size: 30px;
}


#submit-score {
    
    align-items: center;
    margin: 20px;

}


#play-again {
    margin-top: 40px;
}
